
#authorRespBody{
   background-color:whitesmoke; 
}
#welcomeMessAuth{
    font-weight: bold;
    margin-bottom: 0px;
}
.welcomeMessage{
    text-align: center;
    font-weight: 400;
    font-style:italic;
    font-size: 42px;
    margin-bottom: 0px;
    margin-top: 4px;
    text-shadow: 1px 1.2px lightgrey;
}
.logoutArea{
    text-align: right;
    margin-right: auto;
    margin-bottom: 0px;
    margin-top: 10px;
}
header {
    text-align: right;
}
#login{
    margin-top: 10px;
    
}
#logout{
    margin-top: 5px;
}
#HomeBody{
    background-image: url('BookArch.jpg');
    background-repeat:no-repeat;
}
#addBody{
    background-image: url('author.png');
    background-size: 58%;
    background-repeat:no-repeat;
    background-position-x: 50%;
    background-position-y: -18%;
 
}
#tableContent{
     background-image: url('BookSpiral.jpg');
}
#content{
    background-color: lightyellow;
    margin-top: 40px;
}
#errors{
    background-color: red;
    background-image: radial-gradient(red,#ff4d4d);
    text-align:center;
    color: white;
}
#deleteToggleContent{
    text-align: right;
}
h2{
    text-align: center;
    text-shadow: 2px 2.2px lightgrey;
    font-weight: bold;
}
#indexH2{
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-top: 6px;
}
#deleteLabel {
    color:white;
    font-weight: bolder;
    font-size: 16.2px;
    text-shadow: .75px .76px black;
    
}
#authorTable{
    text-align: center;
     margin-top: 25px;
}
td{
    border: .5px solid #000;
    font-weight: bold;
}
th{   
    border-bottom: .5px solid #000;
    font-weight: bolder;
    text-decoration: underline;
}
tr:nth-child(even)>td {
   background-color: lightblue;
 }
 #taskMenu li a:hover{
    font-weight: bold;
    color: #081472;
}
 #logout a{
    color: #fff;
    padding: 10px;

}
#goBack{
    margin-bottom: 20px;
}
#goBack a{
    color: #fff;
}
#goBack a:hover{
    font-weight: bold;
}
#deleteContent{
    text-align: left;
    
}
#deleteContent input {
    margin-top: 10px;
    margin-bottom: 10px;
   
}
#taskButton{
    margin-top: 5px;
    margin-bottom: 70px;
    margin-left: 15px;
}
#taskMenu li a span{
    vertical-align: -.75px;
    margin-left: 4.5px;
    margin-right: 0px;
    
} 
